{% extends 'base.html.twig' %}

{% block title %}Vérification des informations{% endblock %}
{% block meta %}<meta name="robots" content="noindex, follow" >{% endblock %}
{% block body %}

{# Bouton retour panier #}

    <div class="action_back">
        <a href="{{path('cart_index')}}" class="button_base button_back"><i class="fa-solid fa-chevron-left"></i> Retour Panier</a>
    </div>
    
    <h1  class="cart_title">Vérification des informations</h1>

    <h2 class="cart_title_secondary">Récapitulatif de la commande</h2>

    {# ICI TABLEAU RECAPITULATIF COMMANDE (ne pouvant être modifié) #}
    <div class="table_cart_container">
        <table class="cart_table zebra">
            <thead>
                <tr>
                    <th>Désignation du produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Sous-total</th>
                </tr>
            </thead>
            <tbody>
                {% for element in elements %}
                {# ELEMENTS DU PANIER #}
                    <tr>
                        <td  data-title='Désignation du produit'> {{ element.product.designation }} {{ element.product.volume|number_format }}cl </td>
                        <td data-title='Quantité'> {{ element.quantity }}</td>
                        <td data-title='Prix'> {{ (element.product.price ?? 0 / 100) | number_format(2, ',', '.' ) }} €</td>
                        <td data-title='Sous-total'> {{ (element.SsTotal ?? 0 / 100) | number_format(2, ',', '.' ) }} € </td>
                    </tr>    
                    
                        {% if element.product.stock <= 0 %}
                            <tr class="cart-more-infos">
                                <td colspan="5" style="font-size:0.8rem;color:red;font-style:italic;"> Rupture de stock : le délais de préparation de votre commande peut-être ralongé de quelques jours</td>
                            </tr>
                        {% elseif element.stockTemp < 0 %}
                            <tr>
                                <td colspan="5" style="font-size:0.8rem;color:red;font-style:italic;"> Avertissement : La quantité commandé dépasse la quantité en stock, le délais de préparation de votre commande peut-être ralongé de quelques jours</td>
                            </tr>
                        {% endif %}
                    
                {% endfor %}
                {% if cotisation is defined and cotisation is not empty %}
                    {# COTISATION #}
                    <tr style="font-weight: 600;">
                        <td colspan="2"><span >Cotisation annuelle valable jusqu'au {{cotisation.endDate |date("d/m/Y", "Europe/Paris") }}  </span> </td>
                        {% if cotisation.price > 0 %}
                            <td data-title='Prix'>{{ (cotisation.price ?? 0 / 100) | number_format(2, ',', '.' ) }} €</td>
                            <td data-title='Sous-total' colspan="2"> {{ (cotisation.price ?? 0 / 100) | number_format(2, ',', '.' ) }} € </td>
                        {% endif %}
                       
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="total_order">
        <p> Nombre d'acticles : {{ cotisation.price == 0 ? elements|length : elements|length +1 }} </p>
        <p>Total : {{ (total ?? 0 / 100) | number_format(2, ',', '.' ) }} €</p>
    </div>

    <h2 class="cart_title_secondary">Mes informations de facturation </h2>

    {# ICI LE FORMULAIRE UTILISATEUR #}
    <div class="formContainer">
        {{ form_errors(form) }}
        {{ form_start(form) }}
        
        <div class="row">
            {{ form_row(form.lastName) }}
        </div>
        <div class="row">
            {{ form_row(form.firstName) }}
        </div>
        <div class="row">
            {{ form_row(form.birthDate) }}
        </div>
        <div class="row">
            {{ form_row(form.adress) }}
        </div>
        <div class="row">
            {{ form_row(form.zipCode) }}
        </div>
        <div class="row">
            {{ form_row(form.city) }}
        </div>
        <div class="row">
            {{ form_row(form.tel) }}
        </div>
            
        
    </div>

    <div class="before_redirect">
        <p>Valider ma commande et passer au paiement.</p>
        <p>Vous allez être redirigé vers le service de paiement.</p>
    </div>

    {# VALIDATION ET PASSER AU PAIMENT #}

    <div class="step_validation">
        <button type="submit" class="btn_register button_base button_step_validation">payer <span style="font-weight:800;">{{ (total ?? 0 / 100) | number_format(2, ',', '.' ) }} €</span> par Stripe</button>
    </div>
    {{ form_end(form) }}

    {% include "_partial/_bandeau_boissons.html.twig" %}
    
{% endblock %}