{% extends 'base.html.twig' %}

{% block title %}Vérification des informations{% endblock %}

{% block body %}

    <h1>Vérification des informations</h1>

    <h2>Récapitulatif de la commande</h2>

    {# ICI TABLEAU RECAPITULATIF COMMANDE (ne pouvant être modifié) #}
    <table style="min-width: 600px;margin:40px auto">
        {% for element in elements %}
   
            <tr>
                <th colspan="3" style="text-align: left;font-size:1.3rem;">{{ element.product.designation }} {{ element.product.volume|number_format }}cl - {{element.product.provider}}</th>
            </tr>
            <tr style="height:30px;">
                <td>
                    Quantité : {{element.quantity }}
                </td>
                <td>
                    Prix : {{ (element.product.price ?? 0 / 100) | number_format(2, ',', '.' ) }} €
                </td>
                <td>
                    Sous-Total : {{ (element.SsTotal ?? 0 / 100) | number_format(2, ',', '.' ) }} €
                </td>
            </tr>

        {% endfor %}
    </table>
{# br à supprimer #}
<br><br><br>

    <div class="total_commande" style="display: flex;justify-content: space-around;margin-bottom:40px;">
        <p> Nombre d'acticles : {{ elements|length }} </p>
        <p>Total : {{ (total ?? 0 / 100) | number_format(2, ',', '.' ) }} €</p>
    </div>

{# Bouton retour panier #}

    <a href="{{path('cart_index')}}" style="color:palevioletred"> Retour Panier</a>
   
    

    <h2>Mes informations personnelles </h2>

    {# ICI LE FORMULAIRE UTILISATEUR #}
    <div class="formContainer">
        {{ form_errors(form) }}
        {{ form_start(form) }}
        
        <div class="row">
            {{ form_row(form.lastName) }}
        </div>
        <div class="row">
            {{ form_row(form.firstName) }}
        </div>
        <div class="row">
            {{ form_row(form.adress) }}
        </div>
        <div class="row">
            {{ form_row(form.zipCode) }}
        </div>
        <div class="row">
            {{ form_row(form.city) }}
        </div>
        <div class="row">
            {{ form_row(form.tel) }}
        </div>
            
        <p>Valider ma commande et passer au paiement</p>
        <p>Attention : action irreversible!</p>
        <button type="submit" class="btn_register button_validation">Valider ma commande</button>

        {{ form_end(form) }}
    </div>

{# VALIDATION ET PASSER AU PAIMENT #}

{% endblock %}