{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block body %}

{% if app.user %}
    <div class="">
        Vous êtes connecté(e) au compte : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Vous déconnecter</a>
    </div>
{% endif %}

<h1 class="main_title_profil">Me connecter</h1>

<div class="formContainer">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="row">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input" autocomplete="email" required autofocus>
        </div>
        <div class="row">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control input" autocomplete="current-password" required>
            <a href="{{ path('app_forgot_password_request')}}" style="text-decoration: underline;padding-left:10px;">Mot de passe oublié? </a>
        </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn_register button_base button_validation" type="submit">
                Me connecter
            </button>
    </form>
</div>
<p style="font-size:1rem;text-align:center;padding-top:20px;">Pas encore inscrit? <a href="{{ path('app_register')}}" style="text-decoration: underline;">Suivez le lien!</a></p>
{% endblock %}
