{% extends 'base.html.twig' %}

{% block title %}Inscription - site l'échoppe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% if app.user %}
        <div class="">
            Vous êtes connecté(e) au compte : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Vous déconnecter</a>
        </div>
    {% endif %}

    <h1>Inscription</h1>

    <div class="formContainer">
    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
        <div class="row">
             {{ form_row(registrationForm.email) }}
        </div>
       <div class="row">
           {{ form_row(registrationForm.pseudo) }}
       </div>
       <div class="row">
           {{ form_row(registrationForm.plainPassword.first) }}
       </div>
       <div class="row">
           {{ form_row(registrationForm.plainPassword.second) }}
       </div>
       <div class="row">
           {{ form_row(registrationForm.lastName) }}
       </div>
       <div class="row">
            {{ form_row(registrationForm.firstName) }}
       </div>
       <div class="row">
            {{ form_row(registrationForm.adress) }}
       </div>
        <div class="row">
            {{ form_row(registrationForm.zipCode) }}
        </div>
        <div class="row">
            {{ form_row(registrationForm.city) }}
        </div>
        <div class="row">
            {{ form_row(registrationForm.tel) }}
        </div>
        <div class="row aggreeTerms">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn_register button_base button_validation">Je m'inscris</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
