{% extends "base.html.twig" %}
{% block meta %}<meta name="robots" content="noindex, follow" >{% endblock %}
{% block title %}Ajouter un avis{% endblock %}

{% block body %}

<div class="action_back">
    <a href="{{ path('detail_product', {'slug' : product.slug })}}" class="button_base button_back"><i class="fa-solid fa-chevron-left"></i> Retour en arrière</a>
</div>

<div class="add_review">


    <h1>Ajouter un avis </h1>
    
    <h2>{{product.designation}} - {{ product.volume|number_format }}cl</h2>


    {# {{ form(formReview)}} #}

        {{ form_errors(formReview) }}
        {{ form_start(formReview) }}
        
        <div class="row">
            {{ form_row(formReview.rating) }} 
        </div>
        <div class="row">
            {{ form_row(formReview.description) }}
        </div>
            {{form_row(formReview.envoyer)}}
        {{ form_end(formReview) }}
</div>
{% endblock %}
{% block javascripts %}
    <script src=" {{ asset('js/script.js')}}"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            plugins: 'wordcount',
            toolbar: ' bold italic underline | undo redo | ',
            statusbar: false,
            indentation: '10px',
            valid_elements:'strong/b,p,em/i,br',
            init_instance_callback : function(editor) {
                var freeTiny = document.querySelector('.tox-notifications-container');
                freeTiny.style.display='none';
            }
        })
    </script>
{% endblock %}