{% extends "base.html.twig" %}

{% block title %}Ajouter un avis{% endblock %}

{% block body %}
    <h1>Ajout d'un avis </h1>
    <h2>{{product.designation}} - {{ product.volume|number_format }}cl</h2>

    <a href="{{ path('detail_product', {'slug' : product.slug })}}"> Retour en arrière</a>

    {# {{ form(formReview)}} #}

    {{ form_errors(formReview) }}
        {{ form_start(formReview) }}
        
        <div class="row">
            {{ form_widget(formReview.rating) }}
        </div>
        <div class="row">
            {{ form_row(formReview.description) }}
        </div>

        {{ form_end(formReview) }}
{% endblock %}