{% extends 'base.html.twig' %}

{% block title %}la  Boutique{% endblock %}

{% block body %}

<div class="action_back">
  <a href="{{path('products_index')}}" class="button_base button_back"><i class="fa-solid fa-chevron-left"></i> Retour boutique</a>
</div>

<div class="product_presention">

    <div class="img_detail_product">
      {% if product.imageFile is defined and product.imageFile is not null %}
        <img src="{{ asset('upload/images/products/'~ product.imageFile) }}" alt="image {{product.designation}}">     
      {% else %}
        <img src="{{ asset('upload/images/site/' ~ parameters.defaultImageProduct) }}" alt="image par défaut">
      {% endif %}
    </div>
    <div class="product_informations">
        <h1 class="product_designation">{{product.designation}} - {{ product.volume|number_format }}cl</h1>
        <p class="description_product">{{ product.description }}</p>
        <p class="product_price_detail_product">{{ (product.price ?? 0 / 100)|number_format(2, ',', '.' ) }} € T.T.C.</p>
        <p class="product_liter_price"> (11.96 € le litre) </p>
      {% if product.stock <= 10 and product.stock > 0 %}
        {% if product.stock == 1 %}
           <p> Il reste 1 article en stock</p>
        {% else %}
            <p> Il reste {{product.stock }} articles en stock</p>
        {% endif %}
      {% elseif product.stock <= 0 %}
        <p> Rupture de stock - Commande possible mais délais de livraison allongé </p>
      {% endif %}


        {{ form_start(form,  {'action': path('cart_add', {'id' : product.id})} )}}
            <div class="form_detail_product"> 
                <div class="form_select_qte">
                    {{ form_label(form.quantity)}}
                    <div class="select_qte">
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="minus" fill="var(--main-color)" id="minusForm"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                      </div>
                        {{ form_widget(form.quantity)}}
                        <div>
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="plus" fill="var(--main-color)" id="plusForm"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg> 
                        </div>
                    </div>   
                </div>
                {{ form_row(form.envoyer) }}
            </div>
        {{ form_end(form) }}
    </div>
</div>

<div class="further_informations">
    <h2 class="secondary_title_detail_product">Informations détaillées</h2>

    <table class="table_futher_informations">
        <tbody>
            <tr>
              <td>Brasserie</td>
              <td> {{ product.provider.name }}</td>
            </tr>
            <tr>
              <td>Ingrédients</td>
              <td> {{ product.ingredients }}</td>
            </tr>
            <tr>
              <td>Taux d'alcool</td>
              <td> {{product.alcoholLevel}} °C </td>
            </tr>
            {% if product.bitterness is defined and product.bitterness is not null %}
                  <tr>
                    <td>Amertume</td>
                    <td> {{ product.bitterness }} </td>
                  </tr>
            {% endif %}
        
            <tr>
              <td>Style</td>
              <td> 
                {% for beerType in product.beerTypes %}
                  {% if product.beerTypes|length == 1 or beerType == product.beerTypes|last %}
                    {{beerType.name}}   
                  {% else %}
                    {{beerType.name}},       
                  {% endif %}
                  
                {% endfor %} 
              </td>
            </tr>
          </tbody>
    </table>
</div>

<div class="review">
  <h2 class="secondary_title_detail_product">Avis</h2>
  {% if reviews is empty or reviews is not defined %}
    <div class="empty_review">
      <p>Cette bière est surement exellente mais personne n'a donné un avis pour l'instant!</p>
      <p>Soyez le premier à <a href="{{ path('add_review', {'slug' : product.slug})}}" class="link_add_review">ajouter un avis !</a> </p>
    </div>
  {% else %}
    
    <div class="reviews_summary">
      {% if userReview is defined and userReview is not null  %}

      <a href="{{ path('edit_review',  {'slug' : product.slug, 'userId' : app.user.id,'id' : userReview.id} )}}" class="link_add_review">Modifier votre avis</a> 
      {% else %}
        <a href="{{ path('add_review', {'slug' : product.slug})}}" class="link_add_review">Ajouter un avis</a> 
      {% endif %}
      <div class="stats_reviews">
        <p>{{ reviews|length }} avis</p>
        <p>{{ product.average|number_format(1, ',', ',')|replace({',0':''}) }} {{ product.average| stars }} </p>
      </div>
    </div>


    {% for review in reviews %}
    
    <div class="review_content">
        <hr class="review_separator">
        <div class="review_informations">
          <p class="review_pseudo">{{ review.user.pseudo|capitalize }}</p>
          <div class="right_review_informations">
            {% if review.updatedAt is not empty and review.updatedAt is not null %}
              <p class="dateTime_review">Modifié le {{ review.updatedAt|format_date('short', locale='fr')}} à {{ review.updatedAt|format_time('short', locale='fr', timezone='Europe/Paris') }}</p>
            {% else %}
              <p class="dateTime_review">Le {{ review.createdAt|format_date('short', locale='fr')}} à {{ review.createdAt|format_time('short', locale='fr', timezone='Europe/Paris') }}</p>
            {% endif %}
            
            <p>{{ review.rating | stars }}</p>
          </div>
        </div>
  
        <div class="review_description">
          <p>{{ review.description | raw }}</p>
        </div>
      </div>
      
    {% endfor %}
    {{ knp_pagination_render(reviews) }}
  {% endif %}
</div>

{% endblock %}