{% extends 'base.html.twig' %}

{% block title %}la  Boutique{% endblock %}

{% block body %}

<div class="products_list_wrapper">
    <div class="filters_container">
        <span>je suis un conteneur temporaire, ici s'affichera les filtres</span>
    </div>
    
    <div class="container_products">
        {% for product in products %}
            {% if product.available %}
                <article class="article_product">
                    <a href="{{path('detail_product', {'slug' : product.slug})}}">
                        <div class="img_product_article">
                            {% if product.productionType is defined and product.productionType.productionType != 'Permanente' %}
                                <div class="production_type">
                                <span> {{ product.productionType.productionType }}</span>
                            </div>
                            {% endif %}
                            
                            <div class="more_info">plus d'infos</div>
                            {% if product.imageFile is defined and product.imageFile is not null %}
                                <img src="upload/images/products/{{product.imageFile}}" alt="image {{product.designation}}">     
                            {% else %}
                                <img src="upload/images/site/{{parameters.defaultImageProduct}}" alt="image par défaut">
                            {% endif %}
                        </div>
                    </a>
                    <div class="product_info">
                       
                            <a href="{{path('detail_product', {'slug' : product.slug})}}"> 
                                <p class="product_title">
                                    {% if (product.provider.name ~ product.designation)|length >51 %}
                                        {{ (product.provider.name ~ ' - ' ~ product.designation)|slice(0,51) ~ ' ...'}}        
                                    {% else %}
                                        {{product.provider.name}} - {{ product.designation }}                 
                                    {% endif %}
                                    - {{ product.volume|number_format }}cl
                                </p>
                            </a>
                        
                        <p class="product_price">{{ (product.price ?? 0 / 100)|number_format(2, ',', '.' ) }} € T.T.C.</p>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}
