{% extends 'base.html.twig' %}

{% block title %}la  Boutique{% endblock %}

{% block body %}
<div class="filters_wrapper">
    <div class="filters_left">
        <button class="dropdown_btn_products filterBtn" id="btn_filters" onclick="filterDropdownFunction()">Filtrer par <i class="fa-solid fa-chevron-down" id="chevron1"></i></button>
    </div>
    <div class="dropdown_sortBy">
        <button class="dropdown_btn_products btn_sort_by" onclick="sortByDropdownFunction()">Trier par <i class="fa-solid fa-chevron-down" id="chevron2"></i></button>
        <div class="dropdown_sortBy_content" id="dropdown_blop" style="display:none">
            {{ knp_pagination_sortable(products, 'Prix croissants', 'p.price', {}, {'direction': 'asc'}) }}
            {{ knp_pagination_sortable(products, 'Prix décroissants', 'p.price', {}, {'direction': 'desc'}) }}
            
            {{ knp_pagination_sortable(products, 'Notes croissantes', 'averageRating', {}, {'direction': 'asc'}) }}
            {{ knp_pagination_sortable(products, 'Notes décroissantes', 'averageRating', {}, {'direction': 'desc'}) }}
        </div>
    </div>
</div>
<div class="products_list_wrapper">
    <div id="filters_container">

        {{ form_start(formFilter)}}
            {{ form_errors(formFilter) }}
            
            {{ form_row(formFilter.searchProduct) }}

            <p class="title_section_filter">Brasseries</p>
                {% for provider in formFilter.providers %}
                    <div class="filters_checkbox">
                        {{ form_widget(provider) }}
                        {{ form_label(provider)}}
                    </div>
                {% endfor %}

            <p class="title_section_filter">Styles de bières</p>       
                {% for beerType in formFilter.beerTypes %}
                <div class="filters_checkbox">
                    {{ form_widget(beerType) }}
                    {{ form_label(beerType)}}
                </div>
                {% endfor %}

            <p class="title_section_filter">Prix ( € )</p>
                <div class="filters_range">
                    <div>
                        <span>Min. </span>{{ form_widget(formFilter.min) }}
                    </div>
                    <div>
                        <span>Max. </span>{{ form_widget(formFilter.max) }}
                    </div>
                </div>
               
            <p class="title_section_filter">Degré d'alcool ( %vol )</p>
            <div class="filters_range">
                <div>
                    <span>Min. </span>{{ form_widget(formFilter.tauxMin) }}
                </div>
                <div>
                    <span>Max. </span>{{ form_widget(formFilter.tauxMax) }}
                </div>
            </div>
            <div class="btn_form_filter">
                {{ form_row(formFilter.envoyer) }}
            </div>
                
        {{ form_end(formFilter)}}

    </div>
    
   
    {% if products is not defined or products is empty %}
        <div class="container_products" style="display:block;width:100%">
            <div class="list_products_empty">
                <p>Désolé, aucun produit ne correspond à votre recherche.</p>
                <a href="{{path('products_index')}}">retour boutique</a>
            </div>
    {% else %}
    <div class="container_products" style="display:flex;">
    {% endif %}
    {% for product in products %}

        {% if product[0].available %}
            <article class="article_product">
                <a href="{{path('detail_product', {'slug' : product[0].slug})}}">
                    <div class="img_product_article">
                        {% if product[0].productionType is defined and product[0].productionType.productionType != 'Permanente' %}
                            <div class="production_type">
                            <span> {{ product[0].productionType.productionType }}</span>
                        </div>
                        {% endif %}
                        
                        <div class="more_info">plus d'infos</div>
                        {% if product[0].imageFile is defined and product[0].imageFile is not null %}
                            <img src="upload/images/products/{{product[0].imageFile}}" alt="image {{product[0].designation}}">     
                        {% else %}
                            <img src="upload/images/site/{{parameters.defaultImageProduct}}" alt="image par défaut">
                        {% endif %}
                    </div>
                </a>
                <div class="product_info">
                    
                        <a href="{{path('detail_product', {'slug' : product[0].slug})}}"> 
                            <p class="product_title">
                                {% if (product[0].provider.name ~ product[0].designation)|length >51 %}
                                    {{ (product[0].provider.name ~ ' - ' ~ product[0].designation)|slice(0,51) ~ ' ...'}}        
                                {% else %}
                                    {{product[0].provider.name}} - {{ product[0].designation }}                 
                                {% endif %}
                                - {{ product[0].volume|number_format }}cl
                            </p>
                        </a>
                    
                    <p class="product_price">{{ (product[0].price ?? 0 / 100)|number_format(2, ',', '.' ) }} € T.T.C.</p>
                    <p>{{ product.averageRating|stars }} <span class="count_rating"> {{ product[0].reviews|length > 0 ? "(" ~ product[0].reviews|length ~ ")" : "" }}</span></p>
                </div>
            </article>
        {% endif %}
    {% endfor %}
    </div>
</div>
<div class="paginator">
    {{ knp_pagination_render(products) }}
</div>

{% endblock %}


{% block javascripts %}
            <script src=" {{ asset('js/script.js')}}"></script>
            <script src=" {{ asset('js/filterDropdown.js') }}"></script>
        {% endblock %}