{% extends 'base.html.twig' %}

{% block title %}Détail de la commande {{ order.reference }}{% endblock %}

{% block body %}

<h1>Commande N°{{ order.reference }} du {{ order.createdAt|date("d/m/Y") }} à {{ order.createdAt|format_time(locale='fr') }} </h1>

<a href="{{path('app_userProfile')}}"> Retour profil</a>

<table style="min-width: 600px;margin:40px auto">
    {% for element in elements %}

        <tr>
            <th colspan="3" style="text-align: left;font-size:1.3rem;">{{ element.product.designation }} {{ element.product.volume|number_format }}cl - {{element.product.provider}}</th>
        </tr>
        <tr style="height:30px;">
            <td>
                Quantité : {{element.quantity }}
            </td>
            <td>
                Prix : {{ (element.price ?? 0 / 100) | number_format(2, ',', '.' ) }} €
            </td>
            <td>
                Sous-Total : {{ (element.SsTotal ?? 0 / 100) | number_format(2, ',', '.' ) }} €
            </td>
        </tr>
      
    {% endfor %}
</table>
{# br à supprimer #}
<br><br><br>

<div class="total_commande" style="display: flex;justify-content: space-around;margin-bottom:40px;">
    <p> Nombre d'acticles : {{ elements|length }} </p>
    <p>Total : {{ (total ?? 0 / 100) | number_format(2, ',', '.' ) }} €</p>
</div>

{% endblock %}