{% extends "base.html.twig" %}

{% block title %} Modification du mot de passe {% endblock %}

{% block body %}
    <h1 class="main_title_profil">Modifier mon mot de passe</h1>
    <div class="formContainer">
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.oldPlainPassword) }}
        </div>
        <div class="row">
            {{ form_row(form.newPlainPassword) }}
        </div>

        {{ form_end(form) }}
</div>
{% endblock %}