{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="robots" content="noindex, follow" >
{% endblock %}
{% block title %}Modification de mon profil{% endblock %}

{% block body %}




<div class="profil_container">

    <div>
        <h2 class="secondary_title_profile">Modifier mes coordonnées</h2>
    
    {# ICI LE FORMULAIRE UTILISATEUR #}
        <div class="formContainer">
            {{ form_errors(form) }}
            {{ form_start(form) }}
            
            <div class="row">
                {{ form_row(form.lastName) }}
            </div>
            <div class="row">
                {{ form_row(form.firstName) }}
            </div>
            <div class="row">
                {{ form_row(form.birthDate) }}
            </div>
            <div class="row">
                {{ form_row(form.adress) }}
            </div>
            <div class="row">
                {{ form_row(form.zipCode) }}
            </div>
            <div class="row">
                {{ form_row(form.city) }}
            </div>
            <div class="row">
                {{ form_row(form.tel) }}
            </div>
                
            <button type="submit" class="btn_register button_base button_validation">Modifier mes coordonnées</button>

            {{ form_end(form) }}
        </div>
    </div>
    <div class="additionnal_actions">
        <h2 class="secondary_title_profile">Actions supplémentaires</h2>

        <a href="{{ path('app_updatePassword')}}" class="button_base button_links btn_updateProfil">Modifier mon mot de passe</a>
        <a href="" class="button_base button_links btn_updateProfil"> Supprimer mon compte</a>
    </div>

</div>

{% endblock %}