{% extends "base.html.twig" %}

{% block title %} Modification du mot de passe - boutique l'échoppe{% endblock %}

{% block body %}
    <h1 class="main_title_profil">Modifier mon mot de passe</h1>
    <div class="formContainer">
        {{ form_errors(form) }}
        {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.oldPlainPassword) }}
        </div>
        <div class="row">
            {{ form_row(form.newPlainPassword) }}
        </div>
        <div style="padding-bottom:10px;">
            <small >
                <strong>Attention :</strong> Après validation vous devrez vous reconnecter avec votre nouveau mot de passe. <br>
                Tous les articles du panier seront perdus. 
            </small>
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}