{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}


<h1 class="main_title_profil">Mon profil utilisateur</h1>

<div class="profil_container">

    <div class="user_informations">

        <h2 class="secondary_title_profile">Mes informations</h2>

            <p class="user_information"><span style="font-weight:600;">Email : </span><span style="color:var(--dark-grey);" >{{ app.user.email }}</span></p>
            <p class="user_information"><span style="font-weight:600;">Pseudo : </span><span style="color:var(--dark-grey);" >{{ app.user.pseudo }}</span></p>
            <p class="user_information"><span style="font-weight:600;">Nom : </span><span style="color:var(--dark-grey);">{{ app.user.lastName }}</span></p>
            <p class="user_information"><span style="font-weight:600;">Prénom :</span><span style="color:var(--dark-grey);">{{ app.user.firstName }}</span></p>
            <p class="user_information"><span style="font-weight:600;">Adresse : </span><span style="color:var(--dark-grey);" >{{ app.user.adress }}</span></p>
            <p class="user_information"><span style="font-weight:600;">Code Postal : </span><span style="color:var(--dark-grey);">{{ app.user.zipCode }}</span></p>
            <p class="user_information"><span style="font-weight:600;">Ville : </span><span style="color:var(--dark-grey);">{{ app.user.city }}</span></p>
            <p class="user_information"><span style="font-weight:600;">Téléphone : </span><span style="color:var(--dark-grey);">{{ app.user.tel }}</span></p>
        
        <a href="{{ path("app_updateProfile") }}" class="button_base button_links modify_profil">Modifier mon profil</a>
    </div>

    <div class="orders_history">

        <h2 class="secondary_title_profile">Mon historique de commandes</h2>

        {% if ordersInProcess is not defined or ordersInProcess is empty and ordersArchives is not defined or ordersArchives is empty %}
            <p>Aucune commande dans votre historique</p>
        {% endif %}

        {% if ordersInProcess is defined and ordersInProcess is not empty %}
            <h3 class="tertiary_title_profile">Mes commandes en cours de traitement</h3>

            <table class="table_order_history">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Date de la commande</th>
                        <th>Voir Détails</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in ordersInProcess %}
                        
                    <tr>
                        <td>{{ order.reference }}</td>
                        <td>Le {{ order.createdAt|format_date('short', locale='fr') }} à {{ order.createdAt|format_time('short', locale='fr', timezone='Europe/Paris') }}</td>
                        <td ><a href="{{path('order_detail', {'reference' : order.reference})}}" class="see_more">Voir détails</a></td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if ordersArchives is defined and ordersArchives is not empty %}

            <h3 class="tertiary_title_profile">Mes commandes traités </h3>

            <table class="table_order_history">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Date de la commande</th>
                        <th>Voir Détails</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in ordersArchives %}
                        
                    <tr>
                        <td>{{ order.reference }}</td>
                        <td>Le {{ order.createdAt|format_date('short', locale='fr') }} à {{ order.createdAt|format_time('short', locale='fr', timezone='Europe/Paris') }}</td>
                        <td><a href="" class="see_more">Voir détails</a></td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </div>

</div>
{% endblock %}
